h1, h6, .categories {
    color: chartreuse;
    font-family: 'Trebuchet MS', sans-serif;
}

#pageTitle {
    color: #ff0ff0;
}

h1 {
    color: red;
}

h6 {
    color: blue;
}

a:visited {
    color: #13470c;

}

.categories > span {
    color: #ffffff;
    background-color: #c50f0f;
    border-radius: 0px;
    text-decoration: none;
    padding: 5px;
    /* border: solid 3px #3904f7; */
    margin: 5px;
    display: inline-block;
}

article {
    border: 1px solid #000000;
    display: inline-block;
    width: 33%;
}

img + p {
    line-height: 2;
}

article > img {
    width: 100%;
}

article > p {
    letter-spacing: 1px;
}

section .vericalMargins {
    margin: 10px 0;
}

.formContainer {
    margin: auto;
}

.weirdForm {
    width: 250px;
    margin: auto;
}

input {
    display: block;
    padding: 5px;
    border: solid 1px #000000;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
}

input[type="text"], input[type="password"] {
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline-color: #0aaf00;
    background-color: #f0f0f0;
}

input[type="radio"] {
    width: auto;
}

input[type="radio"][name="tos"] {
    display: inline;
}

input[type="submit"] {
    background-color: #0aafb4;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0aaf00;
    transition: background-color .5s;
}